@page
@model QuadTest.Pages.TournamentPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tournament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.VenueName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.VenueName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.PostalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.PostalCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tournament.FormattedAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tournament.FormattedAddress)
        </dd>
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">Quad Management</h3>
            </div>
            <div class="card-body">
                <p>Organize players into groups of 4 for tournament play.</p>

                @if (Model.Tournament.Quads.Any())
                {
                    <p>
                        This tournament has @Model.Tournament.Quads.Count quads with
                        @Model.Tournament.TournamentPlayers.Count(tp => tp.QuadId.HasValue) assigned players.
                    </p>
                    <a asp-page="./QuadsView" asp-route-tournamentId="@Model.Tournament.Id" asp-route-pageNumber="1"
                       class="btn btn-primary">View Quads</a>
                }
                else
                {
                    <a asp-page="./GenerateQuads" asp-route-id="@Model.Tournament.Id" class="btn btn-success">Generate Quads</a>
                }
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tournament.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
